<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')%>
<body>
    <%- include('./partials/nav.ejs')%>
    <h2><b>Invalid credentials!</b></h2>
    <a href="/user"></a>
    <%- include('./partials/footer.ejs') %>
</body>
</html>