<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')%>
<body>
    <%- include('./partials/nav.ejs')%>

    <h2><b>Invalid credentials!</b></h2>
    <br>
    <a href="/user" style="color:gray">Go to Login page</a>
    <%- include('./partials/footer.ejs') %>
</body>
</html>