
<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')%>
<body>

    <nav class="navbar1">
        <h3>HOME</h3>
        <p><b>WELCOME TO MOVIE BUFF</b></p>
    <ul>
        <li><a href="/logout">Logout</a></li>
    </ul>
    </nav>   
    <h1>Welcome to Movie Recomender</h1><br><br>
        <div>
            <% data.forEach(function(str){ %>
                <Card className='my-3 p-3 rounded'>
                    <!-- <Link to={`/product/${product._id}`}> -->
                      <Card.Img src={product.image} variant='top' />
                    <!-- </Link> -->
              
                    <Card.Body>
                      <Link to={`/product/${product._id}`}>
                        <Card.Title as='div'>
                          <strong>{product.name}</strong>
                        </Card.Title>
                      </Link>
              
                      <Card.Text as='div'>
                        <Rating
                          value={product.rating}
                          text={`${product.numReviews} reviews`}
                        />
                      </Card.Text>
              
                      <Card.Text as='h3'>${product.price}</Card.Text>
                    </Card.Body>
                  </Card>
              <!-- <div class="card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-YoxA3KpeRA9Y5rcdcBv8tQDIxdR4iPHvtw&usqp=CAU" alt="Movie" style="width:150px;height:150px;align-items: center"/>
                <div class="container">
                  <h4><b><%=str%></b></h4> 
                  <% var movieid=str.substring(0,5);%> 
                    <h4><%=movieid%></p>
                  <!-- <p>Architect & Engineer</p>  -->
                </div>
            </div> -->
        </div>
     
        <% }) %>
    <%- include('./partials/footer.ejs') %>
</body>
</html>