
<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')%>
<body>

    <nav class="navbar1">
        <h3>HOME</h3>
        <p>WELCOME</p>
    <ul>
        <li><a href="/logout">Logout</a></li>
    </ul>
    </nav>   
    <h1>Welcome to Movie Recomender</h1>

   
    <!-- <div class="front_page">

        

        <p><%=data%></p>
 
    </div> -->
    <%- include('./partials/footer.ejs') %>
</body>
</html>