
<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')%>
<body>

    <nav class="navbar1">
        <h3>HOME</h3>
        <p><b>WELCOME TO MOVIE BUFF</b></p>
    <ul>
        <li><a href="/logout">Logout</a></li>
    </ul>
    </nav>   
    <h1>Welcome to Movie Recomender</h1><br><br>
        <div>
            <% data.forEach(function(str){ %>
              
                <Row>
                    <Col md={6}>
                      <Image src= alt= fluid />
                    </Col>
                    <Col md={3}>
                      <ListGroup variant='flush'>
                        <ListGroup.Item>
                          <h3>{product.name}</h3>
                        </ListGroup.Item>
                        <ListGroup.Item>
                          <Rating
                            value={product.rating}
                            text={`${product.numReviews} reviews`}
                          />
                        </ListGroup.Item>
                        <ListGroup.Item>Price: ${product.price}</ListGroup.Item>
                        <ListGroup.Item>
                          Description: {product.description}
                        </ListGroup.Item>
                      </ListGroup>
                    </Col>
              <!-- <div class="card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-YoxA3KpeRA9Y5rcdcBv8tQDIxdR4iPHvtw&usqp=CAU" alt="Movie" style="width:150px;height:150px;align-items: center"/>
                <div class="container">
                  <h4><b><%=str%></b></h4> 
                  <% var movieid=str.substring(0,5);%> 
                    <h4><%=movieid%></p>
                  <!-- <p>Architect & Engineer</p>  -->
                </div>
            </div> -->
        </div>
     
        <% }) %>
    <%- include('./partials/footer.ejs') %>
</body>
</html>