
<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')%>
<body>

    <nav class="navbar1">
        <h3>HOME</h3>
        <p><b>WELCOME TO MOVIE BUFF</b></p>
    <ul>
        <li><a href="/logout">Logout</a></li>
    </ul>
    </nav>   
    <h1>Welcome to Movie Recomender</h1><br><br>
    <div class="cards">
        p
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>