<!DOCTYPE html>
<html lang="en">
    <nav class="navbar1">
        <h3>HOME</h3>
    <ul>
        <li><a href="/logout">Logout</a></li>
    </ul>
    </nav>   
<body>
    <h2><b>Thanks for Rating!</b></h2>
    <br>
    <!-- <b><a href="/user" style="color:gray">Go to Login page</a> </b> -->
</body>
</html>